<div class="container">
  <h4 ng-bind-html="cr.title"></h4>
  <dl class="dl-horizontal">
    <dt>Business Reason</dt>
    <dd ng-bind-html="cr.businessReason | breakFilter | htmlLinky"></dd><br/>
    <dt>Details</dt>
    <dd ng-bind-html="cr.details | breakFilter | htmlLinky"></dd><br/>
    <dt>Impact</dt>
    <dd ng-bind-html="cr.impact | breakFilter | htmlLinky"></dd>
  </dl>
  <table id="crSubDetailTable" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>System</th>
        <th>Go Live Date</th>
        <th>CR#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cr.system}}</td>
        <td ng-class="getActionDateClass(cr.actionDate)">{{cr.actionDate | date: 'd-MMM-yyyy HH:mm'}}</td>
        <td>{{cr.id}}</td>
      </tr>
    </tbody>
  </table>
  <table id="crTasksTable" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Tasks</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in cr.tasks | orderObjectBy:'id'">
        <td><a href="#/tasks/{{task.id}}" >{{task.title}}</a></td>
        <td>{{task.team}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="footer">
  <div class="container">
    <p><a href="#/changes/status/{{cr.statusCode}}">Return</a> |
      <a class="pseudoLink" ng-click="doStatusChange(cr,'authorise')" target="_self" ng-show="showAction('Authorise')" title="Authorise">Authorise</a> |
      <a class="pseudoLink" ng-click="doStatusChange(cr,'reject')" target="_self" ng-show="showAction('Reject')" title="Reject">Reject</a> |
      <a class="pseudoLink" ng-click="doStatusChange(cr,'confirm')" target="_self" ng-show="showAction('Confirm')" title="Confirm">Confirm</a></p>
  </div>
</div>
