<!--<div class="container">
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Auth</a></li>
  <li><a href="#/changes/status/E">Expired</a></li>
  <li><a href="#/changes/status/F">Finished</a></li>
</ul>
</div>-->
<div class="container crlist">
  <ul>
    <li ng-repeat="cr in crs | orderObjectBy:'id'" ng-click="getCrDetailClick(cr)" ng-class="getActionDateClass(cr.actionDate)">
      <span style="float:right;text-align:right;">{{cr.id}}<br/>{{cr.system}}<br/>{{cr.status}}</span><span ng-bind-html="cr.listHtml"></span>
    </li>
  </ul>
</div>
<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <p><a class="btn btn-default" ng-click="doLogout()" target="_self" role="button">Logout</a></p>
      </div>
      <div class="col-xs-4 text-center" style="margin-top:8px"><p ng-show="isLoggedIn()">{{signedInAs}}</p></div>
      <div class="col-xs-4" style="margin-top:8px">
        <span ng-show="true" class="pull-right">
          <span class="glyphicon glyphicon-flash" title="Disonnected"></span>
        </span>
      </div>
    </div>
  </div>
</div>
